# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main
stages:
- stage: prepare
  jobs:
  - job: run_prepare
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Bash@3
      displayName: 'Create Artifact'
      inputs:
        targetType: 'inline'
        script: mkdir -p $(Build.SourcesDirectory)/dist/src && mkdir -p $(Build.SourcesDirectory)/lib && echo '' >> $(Build.SourcesDirectory)/lib/blank.txt && rsync -a --exclude={'**.git/','**test.*','**spec.*','**.vscode/','**dist/','**.md','**.svg','**.png','**.zip','**.yaml','**mocks/'} $(Build.SourcesDirectory) $(Build.SourcesDirectory)/dist 
    - task: Bash@3
      displayName: 'Create the zip'
      inputs:
        targetType: 'inline'
        script: cd $(Build.SourcesDirectory)/dist && zip -r $(Build.SourcesDirectory)/source.zip .
    - task: CopyFiles@2
      displayName: 'Copy scripts'
      inputs:
        contents: 'dist/**'
        targetFolder: '$(Build.ArtifactStagingDirectory)'
        

    - publish: '$(Build.ArtifactStagingDirectory)/dist'
      displayName: 'Publish script'
      artifact: drop

- stage: test
  dependsOn: prepare
  jobs:
  - job: run_test
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - download: current
      artifact: drop
    - task: Bash@3
      inputs:
        targetType: 'inline'
        script: ls -a
